*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* links */
a{
    text-decoration: none;
}

/* FIX 1: contanier -> container
   FIX 2: add position: relative so absolute children stay inside */
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

/* logo */
.logo{
    position: absolute;
    left: 90px;
    top: 50px;
}

.logo a{
    text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    font-weight: bold;
    color: #2f2e41;
    letter-spacing: 1px;
    font-size: 2rem;
}

/* search area
   FIX 3: fixed -> absolute (prevents overlap with next section) */
.searcharea{
    position: absolute;
    right: 90px;
    top: 50px;
    width: 170px;
    height: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px black;
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid black;
}

.searchbox input{
    width: 90px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0 10px;
}

/* image */
.sectionl{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%,-50%);
}

.sectionl img{
    height: 300px;
}

/* text */
.j66{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%,-50%);
}

.j66 h1,
.j66 h2{
    font-weight: bold;
    margin: 0;
    line-height: 60px;
    font-size: 3.5rem;
    letter-spacing: 3px;
    color: #3d3d4a;
    text-transform: uppercase;
}

.j66 h1{
    letter-spacing: 28px;
}

span{
    color: #7a72ff;
}

/* button */
.btn{
    width: 150px;
    height: 40px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    margin-top: 20px;
    color: #fff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: #6e64ff;
    transition: all ease 0.5s;
}

/* social icons
   FIX 4: fixed -> absolute */
.icon{
    position:absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 30px black;
    z-index: 1;
}

.icon a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}

.icon a i{
    color: rgba(39,39,39,0.8);
}

.icon a i:hover{
    color: rgb(9, 77, 223);
}
.productsection{
    width: 85%;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 30px rgba(167,158,245,0.2);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
    border: 10px solid #fff;
}
.productsection > h3{
margin: 20px;
text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
font-family: myriad pro;
font-weight: 700;
letter-spacing: 2px;
text-align: center;
font-size: 2rem;
color: #323543;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}
.productbox{
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}
.productbox img{
    height: 170px;
}
.productbox p{
    color: #4d4d4d70;
    font-family: myriad pro;
    font-size: 0.9rem;
    letter-spacing: 0.5;
}
.productbox a{
    color: #2c2c2c;
    font-family: oppins;
    font-size: 1rem;
}
.baybtn{
    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    left: 1%;
    bottom: -20px;
    transform: translateX(-50);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background: linear-gradient(120deg,#6b60ec 20%,#a166f4);
color: #fff;
display: none;
animation: fade 0.2s;
}
.productbox:hover .baybtn{
    display: flex;
}
.productbox:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #d8cdcd;
}
.about{
    display: flex;
    width: 85%;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 150px !important;
}
.baoutbox{
    width: 40%;
    font-family: myriad pro;
}
.baoutbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.baoutbox h1{
    color: #333;
    font-weight: 700;
font-size: 3rem;
margin: 0px;
}
.baoutbox h4{
    color: #333;
    font-weight: 400;
font-size: 2rem;
margin-top: 10px;
margin-bottom: 10px;
}

.baoutbox p{
    color: #bdbdbd;
font-size: 1rem;
letter-spacing: 0.5px;
}
.notification{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0,0.03);
    
}
.notification{
    font-size: 1rem;
    color: rgba(56,56,56);
}
.notificationinput{
    width: 500px;
    background-color: #f8f8f8;
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 2px 5px 30px rgb(158, 116, 116);
    margin-top: 30px;
}
.notificationinput input{
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
}
.notificationbtn{
    width: 120px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 30px rgb(165, 136, 136);
    font-size: 1rem;
}
.notificationbtn:hover{
    background-color: #6b60ec;
    transition: all ease 0.5s;
}
footer{
    text-align: center;
}
